<!-- 100% width container holding large button to kickstart -->
<div class="d-flex row footer">
  <div class="col-md-12 order-md-2 d-flex justify-content-around next-btn-div">
    <button type="button" *ngIf="footerConfiguration.showPreviousBtn"
      (click)="emitFooterBtnClickEventFn(footerBtns.Previous)" [disabled]="footerConfiguration.previousBtnDisabled"
      class="btn btn-warning">
      Prev.</button>

    <button (click)="clickForRouteChangeFn()" *ngIf="footerConfiguration.showNextRouteBtn"
      class="btn btn-warning">{{footerConfiguration.nextRouteBtnText}}</button>

    <button type="button" [disabled]="footerConfiguration.nextBtnDisabled" *ngIf="footerConfiguration.showNextBtn"
      (click)="emitFooterBtnClickEventFn(footerBtns.Next)" class="btn btn-warning float-right">Next </button>
  </div>
</div>