@import "./../../commonstyle";

:host {
  min-height: 90vh;
  @include flexProperty(column, unset, center);
}

.parent-div {
  .desc-div {
    margin: auto;
  }
  .desc-title {
    color: whitesmoke;
  }
  .desc-plantes {
    img {
      min-height: 5em;
    }
    figcaption {
      color: white;
    }
  }
  .btn-warning {
    border-radius: 0;
    font-size: 1.5rem;
  }
}
